.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.loading-dots {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: loading-dots 1s infinite linear alternate;
  animation: loading-dots 1s infinite linear alternate;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loading-dots::before,
.loading-dots::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.loading-dots::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: loading-dots 1s infinite alternate;
  animation: loading-dots 1s infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-dots::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: loading-dots 1s infinite alternate;
  animation: loading-dots 1s infinite alternate;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes loading-dots {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@keyframes loading-dots {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
